<!--<div class="card" style="width: 18rem">
  <img src="{{ movie.image }}" class="card-img-top" alt="Picture not found" />
  <div class="card-body">
    <h5 class="card-title">{{ movie.name }}</h5>
    <p class="card-text">
      {{ movie.description }}
    </p>
    <div class="data">
      <h6>Stock</h6>
      <p>{{ movie.stock }}</p>
      <h6>Price</h6>
      <p>{{ movie.price }}</p>
    </div>
  </div>
</div>-->

<div class="col mb-4">
  <div class="card h-100">
  <img src="{{ movie.image }}" class="card-img-top" alt="Picture not found" />
  <div class="card-body">
    <h5 class="card-title">{{ movie.name }}</h5>
    <p class="card-text">
      {{ movie.description }}
    </p>
    <div class="">
      <h6>Stock</h6>
      <p>{{ movie.stock }}</p>
      <h6>Price</h6>
      <p>{{ movie.price }}</p>
    </div>
  </div>
</div>
</div>
