<div class="row mt-3">
  <div class="col-12">
    <div class="input-group mb-3">
      <input
        [(ngModel)]="searchPhrase"
        type="text"
        class="form-control"
        placeholder="Enter search phrase for movie title"
        aria-label="Enter search phrase for movie title"
      />
    </div>
  </div>
</div>


<div class="row row-cols-1 row-cols-md-5">
  <app-product-card *ngFor="let product of products | filter: searchPhrase:'name'" [movie]="product"></app-product-card>
</div>
